[submodule "submodules/infra"]
	path = submodules/infra
	url = git@github.com:floodlight/infra
[submodule "submodules/bigcode"]
	path = submodules/bigcode
	url = git@github.com:floodlight/bigcode
[submodule "submodules/loxigen-artifacts"]
	path = submodules/loxigen-artifacts
	url = git@github.com:floodlight/loxigen-artifacts.git
