[submodule "submodules/infra"]
	path = submodules/infra
	url = https://github.com/floodlight/infra.git
[submodule "submodules/bigcode"]
	path = submodules/bigcode
	url = https://github.com/floodlight/bigcode.git
