[submodule "submodules/infra"]
	path = submodules/infra
	url = git@github.com:bigswitch/stage-infra
[submodule "submodules/bigcode"]
	path = submodules/bigcode
	url = git@github.com:bigswitch/stage-bigcode
